<div class="head">
  <%= image_tag 'channels.png' , class:"pull-left mar-r-10" %>
  <h1>
    CHANNELS
    <%= link_to('New', new_channel_path , class:"btn btn-success pull-right") if can? :create, Channel %>
  </h1>
</div>

  <div class="col-sm-3">
    <div class="widget bg-dark">
      <p class="lg"><%= @channels.count %></p>
      channels so far
    </div>
  </div>
  <div class="col-sm-9">
  <% @channels.each do |c| %>
    <%= link_to c.title , c , class:"link-boxed col-md-4 col-xs-6 col-sm-6" %>
  <% end %>
</div>

<% content_for :r2 do %>
  <p class="text-300 col-sm-9 mar-l-m15">Channels are moderated collections of mindlogs and other content. These have clearly defined targets and campaigns for mining mindlogs.</p>
<% end %>