<h1>Welcome to the Cerebron</h1>
<%= form_tag :action=>'parse' do %>
Impulse: <%= text_area_tag :raw , '' , :size=>"50x3" %>
<%= submit_tag 'Parse' %>
<% end %>

</br></br></br></br>
<div class="box blue">
<h3>Results</h3>
<pre><%= @result %></pre>
</div>