<div class="head">
	<h1>Notifications</h1>
</div>

<table class="table table-striped">
<% @notifications.each do |n| %> 
 	 <tr>
		<td <%= "class= danger" if n.counter >= 1 %> ><%= n.text.html_safe %>
		<span class="text-sm text-light"><%= distance_of_time_in_words(Time.now, n.updated_at , true, {:highest_measure_only => true}) %> ago</span></td>
	</tr>
<% end %>
</table>

<% @notifications.each do |n| %>
	<% n.counter = 0 %>
	<% n.save %>
	<% end %>