<% @title = "500 Error" %>
<div class="head">
<h1>:'(</h1>
</div>

<%= image_tag "sad-psymi.jpg" , class:"col-sm-4" %>

<div class="col-sm-8">
<p style="font-size:120px">500</p>
<h1 class="suffix">SOMETHING WENT WRONG</h1>
</div>

<p class="text-lighter col-sm-12">Nothing should go wrong in an ideal world. We were notified of this crash and so there is nothing you have to do. We'll make sure things are back to normal as soon as possible. If you need to provide specific details to the webmaster, contact: <a href="mailto:bugs@psymic.com">bugs@psymic.com</a></p>