<div class="col-xs-12">
<h2>Frequently asked questions</h2>

<dl>
<dt>What format do my postings have to be at Psymic?</dt>
<dd>Currently no conventions are enforced at Psymic. Generally postings should either be observations you made of yourself or other people, or some feelings you're having.</dd>

<dt>What If I do not post in the right format?</dt>
<dd>Psymic editors will take care of minor issues. You do not have to worry.</dd>

<dt>Shall I be judged?</dt>
<dd>Let's hope not. Plus, Psymic will ensure hurtful content is gone long before you're hurt.</dd>

<dt>How frequently can I post</dt>
<dd>As frequently as you wish</dd>

<dt>I have a good mind hack that works great for me. Should I share it?</dt>
<dd>Absolutely. Although a mind-hack, or any coping technique isn't strictly a behavioral observation, you may still post it as a mindlog by transforming it into one, e.g "I stop procrastinating when <insert technique here></dd>

<dt>Something good <i>(or bad)</i> happened today and I wish to document it, so that I never forget. How?</dt>
<dd>Do it. All you have to do is carefully describe the circumstances that lead to it, and ways it could have been prevented, or ways it can be made to recurr in future.</dd>

<dt>I am feeling very <i>xyz</i>. What does psymic have for me?</dt>
<dd>Immediately rant your feelings out. We will take care of the rest. Read <%= link_to "this" , page_path("get-helped") %> for more.</dd>

<dt>Can I use content from Psymic?</dt>
<dd>Yes. You can reproduce it as-is, as well as use it in your own work provided that the respective author is credited, and that you grant similar rights to others for your work. If the content from Psymic is to be used for commercial purposes, permission is required from the respective author.</dd>

<dt>Do I own whatever material I share at Psyimc?</dt>
<dd>Yes you do, but it is covered under the <i>Creative Commons- Share Alike</i> licence which means that the content can be used non-commercially without having to ask you first.</dd>

<dt>Will my posted content always be available over Psymic?</dt>
<dd>Project Psymic is in alpha, i.e preliminary, stage which means that there are lots of posting conventions yet to come which may not eventually turn out to be friendly for today's content. Therefore anything you post at Psymic is not guaranteed to stay here, as long as the project is in its alpha stage.</dd>

<dt>Who is behind Psymic</dt>
<dd>A few people. Less than five.</dd>

<dt>I can help Psymic. Tell me how?</dt>
<dd>Great. You can help in a lot of ways. Please go to the <%= link_to "contributions", page_path(:contribute) %> page and post about your strengths and areas of interest through the form at the bottom. We'll get back to you soon.</dd>

<dt>I have a suggestion. How do I share it?</dt>
<dd>Psymic <%= link_to "Meta" , feedbacks_path %> is made exactly for that. Your suggestions are valuable</dd>

<dt>I found a bug. Where do I report it?</dt>
<dd>Head on to Psymic <%= link_to "Meta" , feedbacks_path %>. Make sure you select "Issue Report" before posting.</dd>

</dl>
</div>