<% title "404 Not found" %>
<div class="head">
<h1>:'(</h1>
</div>

<%= image_tag "sad-psymi.jpg" , class:"col-sm-4" %>

<div class="col-sm-8">
<p style="font-size:120px">404</p>
<h1 class="suffix">PAGE WAS NOT FOUND</h1>
</div>

<p class="text-lighter col-sm-12">Please double-check your URL, you may have mistyped it. If you think this page must be here and you didn't arrive by error, let us know at <a href="mailto:bugs@psymic.com">bugs@psymic.com</a></p>