<p class="lead text-light"><%= @offer.body %><span class="text-small"><%= link_to 'Edit' , edit_offer_path(@offer) %></p></p>

<div id="commentable-<%= @offer.id %>">
<% @commentable = @offer %>
<%= render template: "comments/show" %>
</div>