<h1>Editing offer
<%= link_to 'Back', :back , class:"btn btn-default pull-right" %>
</h1>
<p>Admins will not be notified of this change. If you must add something notifiable, please add that in comments</p>
<%= render 'form' %>
