<% require 'rinku' %>

<%# Body of Mindlog %>
<div id="mindlog_box" class="row bg-dark">
	<div id="magic"></div>
	<h2 class="compact"><%= link_to @mindlog.title , @mindlog %></h2>
	<p><%= Rinku.auto_link(@mindlog.description).html_safe %></p>
</div>

<% if !@mindlog.status.blank? %>
<div id="status_box" class="row"><b>Status: </b><%= @mindlog.status %></div>
<% end %>