<ul class="list-unstyled sort-options">

	<% if params[:query] %>
		<li>
			<%= link_to "Relevant first" , url_for(params.merge(sort: :relevance)) ,
			class:('active' if (!params[:sort] and params[:query]) or params[:sort]=='relevance') %>
		</li>
	<% end %>

	<li>
		<%= link_to "Latest first" , url_for(params.merge(sort: :date)) ,
			class:('active' if (!params[:sort] and !params[:query]) or params[:sort]=='date') %>
	</li>

	<li>
		<%= link_to "Popular first" , url_for(params.merge(sort: :popular)),
			class:('active' if params[:sort]=='popular') %>
	</li>

	<li>
	<%= link_to "Unresponded" , url_for(params.merge(sort: :lonely)),
			class:('active' if params[:sort]=='lonely') %>
	</li>
</ul>