<% @title = "New Mindlog" %>
<div class="head">
	<h1>Creating new mindlog</h1></br>
</div>

<div class="alert alert-info alert-dismissable">
<button type="button" class="close" data-dismiss="alert">&times;</button>
Feel free to make mistakes. For posting guidelines please read <%= link_to "this",wiki_page_path(:faqs) , class:"alert-link" %>.
</div>

<%= render 'form' %>
