/**
Selectize Minimalistic theme for Psymic for use with minimalistic forms, by ezuhaib
 */

.selectize-control { cursor:text; display: inline-block; width: 100%;padding: 5px;}
.selectize-dropdown, .selectize-input, .selectize-input input {}
.selectize-input, .selectize-control.single .selectize-input.input-active {}

.selectize-input {
	.selectize-control.multi &.has-items {}

	&.full {}
	&.disabled, &.disabled * {}
	&.focus {}
	&.dropdown-active {}
	> * {}
	.item{
		float: left;
		background: #ccc;
		border-radius: 2px;
		color: #333;
		padding: 1px 6px;
		margin:0 3px;
		font-size: 14px;
		cursor:default;}
	.selectize-control.multi & > div { &.active {} }
	.selectize-control.multi &.disabled > div {&, &.active {} }
	> input { border:none !important;&:focus {} }
}

.selectize-input::after {}
.selectize-input.dropdown-active::before {}

.selectize-dropdown {
	position: absolute;
	z-index: 10;
	background: #555;
	color: #fff;
	margin: 5px 0 0 0;
	border-top: 0 none;
	width: 100%;
	display: inline-block;
	padding: 5px;
	[data-selectable] {.highlight {color:#aaa;font-weight: 700;} }
	[data-selectable], .optgroup-header {}
	.optgroup:first-child .optgroup-header {}
	.optgroup-header {}
	.active { &.create {} }
	.create {}
}

.selectize-dropdown-content {}
.selectize-control .selectize-input.disabled {}