<div class="bg-dark row">

	<div class="col-xs-12">
		<%= image_tag 'icon-open.png' , class:"col-sm-2 hidden-xs pad-top-20" %>
		<div class="col-sm-10">
			<h2>Psymic Meta</h2>
			<p>Public feedback related to Psymic, feature requests, bug reports, and anything else aimed at making Psymic better.</p></br>
		</div>
	</div>
</div>

<%= render 'form' , feedback: Feedback.new %>
<%= render 'list' %>