/*Kill this file asap*/

@import "theme";
@import "bootstrap/variables";



#subscriptions_list a {
    color: #666;
}

#subscriptions_list a:hover {
    color: #000;
}

#new_feedback{
    margin-top: 15px;
    margin-bottom: 15px;
}

#response_form{
    padding: 15px 0;
}

#like_and_respond{
    border-bottom: 1px solid #ddd;
}

#response_body{
    resize:none;
}

#user_button{
    background-color: #999999;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

#user_button:hover{
    background-color: #666666;
    cursor: pointer;
}

.tag{
    font-weight: 700;
    font-size: 90%;
}

#pagination{
    margin-top: 22px;
    margin-bottom: 22px;
}

.pagination > li > a, .pagination > li > span {
color: #000;
background-color: #eee;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: $theme-color;border:1px solid $theme-color-light;}


#primary_links{
    list-style: none;
}

#tag_list{
    list-style: none;
}