/* PSYMIC Pink Colour scheme */
/* If changing theme,please use websafe colors */

$theme-color: #FF3366;
$theme-color-light: #FFEEEE;
$theme-color-med: #FF99AA;
$font-family-sans-serif: Open Sans, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 16px;
$input-border-focus: $theme-color;
$link-color: #666;
$link-hover-color: $theme-color;