/* PSYMIC Pink Colour scheme by ezuhaib */
$theme-color: #FF3366;
$theme-color-light: #FFEEEE;
$theme-color-med: #FF99AA;
$font-family-sans-serif: Open Sans, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 16px;
$input-border-focus: $theme-color;
$link-color: $theme-color;
$link-color-hover: #c03;